.hg*
awesome/tyrannical
.zsh/histfile
.bash/history
.vim/yankring_history_v2.txt
.pentadactyl/info/*
.pentadactyl/plugins/*
.vimperator/info
.vimperator/plugins
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.zsh/plugins
.weechat/logs/
*~
TAGS
